.shopping_cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fadadd;
  transition: var(--mainTransition);

  .close-cart {
    font-size: 2rem;

    &:hover {
      color: #fff;
      cursor: pointer;
    }
  }
  h2 {
    font-size: 3rem;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cart-footer {
    h3 {
      font-size: 2rem;
    }

    button {
      width: 20rem;
      height: 3rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      background-color: #eee;
      color: rgba(0, 0, 0, 0.6);
      outline: none;
      border: none;
      border-radius: 1rem;
      text-transform: uppercase;
      font-size: 1rem;
      transition: var(--mainTransition);
      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.6);
        color: #eee;
      }
    }
  }
}
